<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>Mind worse Share</title>
	<meta name="keywords" content="关键字列表" />
	<meta name="description" content="网页描述" />
	<link rel="stylesheet" type="text/css" href="<?php echo '.' . DIR_PUBLIC;?>/css/public.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo '.' . DIR_PUBLIC;?>/css/publish.css" />
    <link  rel="stylesheet" type="text/css" href="<?php echo '.' . DIR_PUBLIC;?>/css/admin.css">
	<style type="text/css"></style>
	<script type="text/javascript"></script>

    

    <script>
        function jump(id)
        {
          if(confirm("确定要删除吗？"))
          {
            location.href='delete.php?id='+id;
          }
        }
        
        function func()
                {
                    location.href="../index.php";  //返回到首页
                }
        

        </script>
</head>

<body>
	<div class="header_wrap">
		<div id="header" class="auto">
			<div class="logo">Mind worse Share</div>
			<div class="nav">
				<a class="hover" href="../index.php">首页</a>
				<?php  
				  	if(isset($_COOKIE['user'])) {
					  if($_COOKIE['user']=='super_root')
					  echo '<a href=./root.php>用户管理</a>';
				} 
			
				?>
			</div>
			<div class="serarch">
				<form>
					<input class="keyword" type="text" name="keyword" placeholder="搜索其实很简单" />
					<input class="submit" type="submit" name="submit" value="" />
				</form>
			</div>
			<div class="login" style="width: 400px;">
				<!-- 	用户信息登录判断 -->
				<?php  
				  	if(isset($_COOKIE['user'])) {
				  		echo '<a href="./userInfo.php">&nbsp;欢迎会员' . ' ' . $_COOKIE['user'] . '</a>' . ' ' . '<a href="./logout.php?page=publish">注销</a>';
				  }else {
				  	    echo '<a href="./login.php">&nbsp;' . '登录' . '</a>' . ' ' . '<a href="./register.php">注册</a>&nbsp;';
				} 
				   ?>
			</div>
		</div>
	</div>
	<div style="margin-top:55px;"></div>
	<div id="position" class="auto">
		<a href="<?php echo '.'.DIR_ROOT;?>index.php">首页</a> &gt;
	</div>


	<div style="text-align: center;" id="publish">


		<h3 align="left">管理员(用户管理)</h3>
	<h4><a href="./add_user.php">添加用户</a></h4>
	<form>
	<table border="1" style="margin:0 auto;">
  <tbody>
    <tr>
      <th width="100">序号</th>
		<th width="150">用户名</th>
      <th width="150">密码</th>
    </tr>
   
    <?php while($results = $records->fetch_assoc()): ?>
             <tr>
             <td><?php echo $results['user_id'];?></td> 
             <td><?php echo $results['user_name'];?> </td> 
             <td><?php echo $results['user_password'];?> </td> 
             <?php echo 
             '<td><input type="button" value="修改" onClick="location.href=\'modify.php?id='.$results['user_id'].'\'"></td>';
             ?>
             <td><input type="button" value="删除" onClick="jump('<?php echo $results['user_id'];?>')"></td>
             </tr>
    
    <?php endwhile;?>
  </tbody>
</table>
<input type="button" value="返回" class="button" onClick="func()">
</form>

	</div>
	<div id="footer" class="auto">
		<div class="bottom">
			<a>Here share your mind</a>
		</div>
		<div class="copyright">Powered by Lihui ©2020</div>
	</div>


	
</body>

</html>